
@{
    ViewBag.Title = "QA";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QA</title>
</head>
<body>
    <h1> Q&A </h1>
    <h3> What is OCR </h3>
    <ul>
        <li>OCR (Optical character recognition) is the mechanical or electronic conversion of images of typed, handwritten or printed text into machine-encoded text, whether from a scanned document, a photo of a document, a scene-photo.</li>
        <li>OCR is widely used as a form of information entry from printed paper data records, whether passport documents, invoices, bank statements, computerised receipts, business cards, mail, printouts of static-data, or any suitable documentation.</li>
    </ul>
    <p></p>
    <h3> How to use OCR</h3>
    <ul>
        <li>The user should use the file is printed version instead of handwriting version.</li>
        <li>The user should use the file without borders and shading.</li>
        <li>The user should use the file scanned under stable light.</li>
    </ul>
    <h4>Eg.</h4>
    <p></p>
    <img src="~/img/OCR.png" alt="OCR Example" />
    <p></p>
    <h3> About ISBN </h3>
    <ul>
        <li>ISBN is the acronym for International Standard Book Number. This 10 or 13-digit number identifies a specific book, an edition of a book, or a book-like product.</li>
        <li>Please enter the ISBN code in bar and choose APA/MLA then create the reference</li>
    </ul>
    <h4>Eg.</h4>
    <p></p>
    <img src="~/img/ISBN.png" alt="ISBN Example" height="407" width="640" />
    <p></p>
            <div>
            </div>
</body>
</html>
